<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>UserID</th>
        <th>UserName</th>
        <th>ステータス</th>
        <th>作成日</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% admin_users.each do |user| %>
        <tr>
          <th scope="row"><%= user.id %></th>
          <td><%= user.name %></td>
          <td><%= user.status %></td>
          <td><%= user.created_at %></td>
          <td><%= link_to "編集", '#' %></td>
          <td><%= link_to "削除", "#" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


