<header>                                                        
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-1">
    <%= link_to "notificy", "/users", id: "logo" %>
    <div class="mr-auto">
      <ul class="navbar-nav mr-auto">
        <% if logged_in? %>
          <li class="nav-item"><span class="navbar-text">ログイン中のユーザ
：<%= current_user.name %></span></li>
          <li class="nav-item"><%= link_to "User", "/users", class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Log out", logout_path, method: :delete, class: "nav-link" %></li>
        <% else %>
          <li class="nav-item"><%= link_to "Log in", login_path, class: "nav-link" %></li>
        <% end %>
    </div>
  </nav>
</header>
